# Ignore everything
*

# But not these files/folders:
!.gitignore
!Cargo.toml
!Cargo.lock
!.dockerignore
!README.MD
!Dockerfile
!diesel.toml
!compose.yml
!.env.example
!LICENSE
!openapi.yml
!install.sh
!ppd_config.toml
!migrate.sh
!sqlite.sh

!ppdrive/
!ppdrive/**

!services/
!services/**

!modules/
!modules/**

!shared/
!shared/**

!manager/
!manager/**

!nnn.md

**migrations
**db.sqlite*
**sqlite.db*
**.ppdrive_secret
**test-assets
**delete-assets
**ppd.log

!handlers/
!handlers/**

!docs/
!docs/**

!.vscode
!.vscode/**

!.github
!.github/**

!NOTES.MD
!TODO
