# Ignore everything
*

# But not these files/folders:
!.gitignore
!Cargo.toml
!Cargo.lock
!.dockerignore
!README.MD
!Dockerfile
!diesel.toml
!compose.yml
!.env.example
!LICENSE
!openapi.yml
!install.sh
!ppd_config.toml
!migrate.sh
!sqlite.sh

!manager/
!manager/**

!servers/
!servers/**

!modules/
!modules/**

!shared/
!shared/**

!nnn.md

**migrations
**db.sqlite*
**sqlite.db*
**.ppdrive_secret
**test-assets
**delete-assets

!handlers/
!handlers/**

!docs/
!docs/**

!.github
!.github/**
!NOTES.MD
