# Ignore everything
*

# But not these files/folders:
!.gitignore
!Cargo.toml
!Cargo.lock
!.dockerignore
!README.MD
!Dockerfile
!diesel.toml
!compose.yml
!.env.example
!LICENSE
!openapi.yml
!install.sh
!ppd_config.toml
!migrate.sh
!sqlite.sh

!cli/
!cli/**

!core/
!core/**

!server/
!server/**

!modeller/
!modeller/**

!migrations/
!migrations/**

!docs/
!docs/**

!.github
!.github/**
